@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: rgb(6, 6, 44);
  --main-color: rgb(52, 89, 255);
  --secondary-text-color: rgb(199, 199, 199);
}

body {
  background: linear-gradient(to bottom, var(--bg-color), #000);
  background-repeat: no-repeat;
  height: auto;
  background-attachment: fixed;
}

h1 {
  margin-top: 2rem;
  font-size: 3rem;
  color: #fff;
}

h3, p {
  color: #fff;
}

h5, span {
  color: var(--main-color);
}

h5 {
  margin-top: .5rem;
}

::-webkit-scrollbar {
  width: .8rem;
}

::-webkit-scrollbar-track {
  background: linear-gradient(to bottom, var(--bg-color), #000);
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searcher {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

input[type="text"] {
  width: 20rem;
  font-size: 1.2rem;
  padding: .4rem;
  border: .15rem solid #fff;
  background: transparent;
  border-radius: 1rem;
  color: #fff;
  transition: .5s ease;
}

input[type="text"]:focus {
  border: .15rem solid var(--main-color);
}

.options {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.selection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

.radio-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .2rem;
  cursor: pointer;
}

.radio-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.3rem;
  height: 1.3rem;
  background: #fff;
  border-radius: 50%;
}

.circle {
  width: .8rem;
  height: .8rem;
  background-color: var(--main-color);
  border-radius: 50%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .4rem .8rem .4rem;
  background: var(--main-color);
  border-radius: 2rem;
  cursor: pointer;
  gap: .2rem;
  transition: .3s ease, transform .3s ease-out;
}

.button:active {
  transform: scale(0.90);
  transition-duration: .1s;
}

.loupe-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.loupe-container p {
  margin-top: 4rem;
  text-align: center;
}

.loupe {
  width: 15rem;
  transform: translateX(0);
  transition: transform 1s ease;
}

.pre-animation {
  transform: rotate(0deg) translateX(5rem) rotate(0deg);
}

.animation {
  animation: searching 4s ease-in-out infinite;
}

@keyframes searching {
  0% {
    transform: rotate(0deg) translateX(5rem) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(5rem) rotate(-360deg);
  }
}

.round-btn {
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.8rem;
  height: 1.8rem;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 .5rem #000;
  font-size: 1.9rem;
  margin: .5rem;
  color: var(--main-color);
  cursor: pointer;
  z-index: 2;
  transition: .5s ease;
}

.results-content {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 2rem 1rem 2rem;
}

.show-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  width: 50%;
  margin-left: 1.5rem;
  gap: 1rem;
}

.show-info .backdrop {
  position: relative;
}

.show-info .backdrop img {
  width: 100%;
  height: auto;
}

.show-info .backdrop .backdrop-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, #000);
}

.show-info .content {
  display: flex;
  gap: .8rem;
  padding: .5rem;
  background: #000;
  border-radius: 1rem;
  z-index: 1;
}

.show-info .poster {
  width: 25rem;
  height: 40rem;
  border-radius: .5rem;
}

.second-info .heading p {
  font-size: .9rem;
  color: var(--secondary-text-color);
}

.second-info .overview {
  margin-top: .5rem;
}

.second-info .overview p {
  font-size: .8rem;
  text-align: justify;
  text-justify: distribute;
}

.shows-list {
  display: flex;
  justify-content: center;
  width: 50%;
}

.shows-grid {
  display: grid;
  justify-content: center;
  height: 50%;
  gap: 1.5rem;
}

.show-poster {
  position: relative;
  display: flex;
  width: 10rem;
  height: 15rem;
  border-radius: .5rem;
  border: .15rem solid #fff;
  overflow: hidden;
  cursor: pointer;
  transition: .5s ease;
}

.show-poster:hover, .show-poster.current {
  border: .15rem solid var(--main-color);
}

.show-poster img {
  width: 100%;
  transition: .5s ease;
}

.show-poster:hover img, .show-poster.current img {
  transform: scale(1.1);
}

.layer-poster {
  position: absolute;
  display: flex;
  justify-content: start;
  align-items: end;
  width: 100%;
  height: 100%;
  padding: .5rem;
  background: linear-gradient(180deg, transparent, #000000);
  opacity: 0;
  transition: .5s ease;
}

.show-poster:hover .layer-poster, .show-poster.current .layer-poster {
  opacity: 100%;
}

.streaming-platforms {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: .5rem;
  gap: 1rem;
}

.platform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .3rem;
}

.platform img {
  width: 6rem;
  border-radius: 50%;
  border: .15rem solid #fff;
}

/* BREAKPOINTS */

@media (max-width: 1680px) {
  html {
    font-size: 95%;
  }

  .streaming-platforms {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1440px) {
  html {
    font-size: 91%;
  }

  .show-info .poster {
    width: 22rem;
    height: 35rem;
  }

  .platform img {
    width: 5rem;
  }
}

@media (max-width: 1366px) {
  html {
    font-size: 87%;
  }
}

@media (max-width: 1280px) {
  html {
    font-size: 82%;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 79%;
  }

  .results-content {
    flex-direction: column;
  }

  .show-info {
    width: 100%;
    margin-left: 0;
  }
  
  .show-info .content {
    padding: .5rem 5rem 0;
  }

  .streaming-platforms {
    grid-template-columns: repeat(4, 1fr);
  }

  .shows-list {
    width: 100%;
  }
}

@media (max-width: 768px)  {
  html {
    font-size: 75%;
  }

  .show-info .poster {
    width: 19rem;
    height: 30rem;
  }

  .platform img {
    width: 4rem;
  }
}

@media (max-width: 650px)  {
  html {
    font-size: 71%;
  }

  .show-info .content {
    padding: .5rem 1rem 0;
  }

  .show-info .poster {
    width: 16rem;
    height: 25rem;
  }

  .platform img {
    width: 3rem;
  }
}

@media (max-width: 460px) {
  .streaming-platforms {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 414px) {
  html {
    font-size: 67%;
  }
}

@media (max-width: 375px)  {
  html {
    font-size: 63%;
  }
}

@media (max-width: 360px)  {
  html {
    font-size: 59%;
  }
}
